@import '../../../theme/dimensions';

.photo-card {
  position: relative;
  width: $list-item-width;
  height: $list-item-height;
  margin: 0;
  overflow: hidden;
  background: var(--ion-color-primary-contrast);

  .photo {
    display: flex;
    justify-content: center;
    align-items: center;  
    overflow: hidden;
  }

  .caption {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fff9;
    color: black;
  }

  &:hover {
    .caption {
      top: auto;
      bottom: 0;
    }
  }
}
