@import '../../../theme/dimensions';

.login-msg {
  padding: 0 16px;
}

.feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, $list-item-width);
  gap: 2rem 1rem;
  justify-content: space-evenly;
}
